*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

body{
  font-family: 'Bebas Neue', cursive;
}
a{
  text-decoration:none;
}
li{
  list-style-type:none;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:#CAF4F4;
}
.nav-links a{
  color:black;

}
.logo{
  font-size:25px;

}
.menu{
  display:flex;
  gap:1em;
  font-size:18px;
}
.menu li:hover{
  background-color: #FCFFE9;
  border-radius:6px;
  transition:0.3s ease;
}
.menu li{
  padding: 5px 15px;
}
input[type=checkbox]{
  display: none;
}
.navbar_icon{
  display: none;
  font-size:24px;
  user-select:none;
}
@media(max-width:768px){
  .menu{
    display:none;
    position:absolute;
    background-color:#CAEFD1;
    right:0;
    left:0;
    text-align:center;
    padding:16px 0;
  }
  .menu li::hover{
    display:inline-block;
    background-color:#CAEFD1;
    transition:0.3s ease;
  }
  .menu li+li{
    margin-top:12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display:block;
  }
  .navbar_icon{
    display: block;
  }
}
